version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  airflow:
    build: .
    container_name: airflow
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      PYTHONPATH: /opt/airflow
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin
      _AIRFLOW_WWW_USER_FIRSTNAME: Admin
      _AIRFLOW_WWW_USER_LASTNAME: Admin
      _AIRFLOW_WWW_USER_EMAIL: admin@example.com
    ports:
      - "8080:8080"
    volumes:
      - ./videos:/opt/airflow/videos/
      - ./dags:/opt/airflow/dags
      - ./services:/opt/airflow/services
      - ./data:/opt/airflow/data
      - ./requirements.txt:/opt/airflow/requirements.txt
      - ./script/entrypoint.sh:/entrypoint.sh
    entrypoint: /entrypoint.sh
    restart: always

volumes:
  postgres_data:
